data/census/onehot_census_sdv_gaussian_1mil.csv filter=lfs diff=lfs merge=lfs -text
data/census/onehot_census_sdv_1mil.csv filter=lfs diff=lfs merge=lfs -text
data/census/census_sdv_1mil.csv filter=lfs diff=lfs merge=lfs -text
data/census/census_sdv_gaussian_1mil.csv filter=lfs diff=lfs merge=lfs -text
data/census/census_sdv_categorical_1mil.csv filter=lfs diff=lfs merge=lfs -text
data/census/onehot_census_sdv_categorical_1mil.csv filter=lfs diff=lfs merge=lfs -text
