sdv[[:space:]]trained[[:space:]]model/covertype/covertype_synthesizer.pkl filter=lfs diff=lfs merge=lfs -text
sdv[[:space:]]trained[[:space:]]model/covertype/covertype_synthesizer_onlyX.pkl filter=lfs diff=lfs merge=lfs -text
data/adult/onehot_adult_test.csv filter=lfs diff=lfs merge=lfs -text
data/adult/onehot_adult_train.csv filter=lfs diff=lfs merge=lfs -text
data/census/onehot_census_train.csv filter=lfs diff=lfs merge=lfs -text
data/census/onehot_census_test.csv filter=lfs diff=lfs merge=lfs -text
data/news/onehot_news_test.csv filter=lfs diff=lfs merge=lfs -text
data/news/onehot_news_train.csv filter=lfs diff=lfs merge=lfs -text
data/covertype/onehot_covertype_test.csv filter=lfs diff=lfs merge=lfs -text
data/covertype/onehot_covertype_train.csv filter=lfs diff=lfs merge=lfs -text
data/credit/onehot_credit_train.csv filter=lfs diff=lfs merge=lfs -text
sdv[[:space:]]trained[[:space:]]model/mnist28/mnist28_synthesizers_all.zip filter=lfs diff=lfs merge=lfs -text
data/mnist28/onehot_mnist28_sdv_100k.csv filter=lfs diff=lfs merge=lfs -text
data/mnist28/onehot_mnist28_sdv_gaussian_100k.csv filter=lfs diff=lfs merge=lfs -text
data/mnist28/onehot_mnist28_sdv_categorical_100k.csv filter=lfs diff=lfs merge=lfs -text
sdv[[:space:]]trained[[:space:]]model/mnist28/mnist28_synthesizers_all.zip filter=lfs diff=lfs merge=lfs -text
